@page "/logout"

@using HR.LeaveManagement.BlazorUI.Contracts


@inject IAuthenticateService authService
@inject NavigationManager navManager

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await authService.LogOut();
        navManager.NavigateTo("/");
    }
}
