@page "/leaveTypes/"

<h3>Leave Types</h3>

<div class="m-2 d-flex justify-content-end">
    <button @onclick="CreateLeaveType" class="btn btn-success">Add Leave Type</button>
</div>


@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

@if (LeaveTypes == null)
{
    <p>Loading Data...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Default Days
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var leavetype in LeaveTypes)
            {
                <tr>
                    <td>@leavetype.Id</td>
                    <td>@leavetype.Name</td>
                    <td>@leavetype.DefaultDays</td>
                    <td>
                        <AuthorizeView Roles="Administrator">
                            <button @onclick=@(() => AllocateLeaveType(leavetype.Id))
                                    class="btn btn-dark">
                                Allocate Leave
                            </button>
                            <button @onclick=@(() => EditLeaveType(leavetype.Id))
                                    class="btn btn-primary">
                                Edit
                            </button>
                           
                            <button @onclick=@(() => DeleteLeaveType(leavetype.Id))
                                    class="btn btn-danger">
                                Delete
                            </button>
                        </AuthorizeView>
                        <button @onclick=@(() => DetailsLeaveType(leavetype.Id))
                                class="btn btn-secondary">
                            Details
                        </button>
                    </td>
                </tr>    
            
            }
        </tbody>
    </table>
}


